@import "~bootstrap/scss/bootstrap";

a {
    text-decoration: none !important
}

.bg-img {
    background-image: url("/public/storage/img-bg.jpg");
    background-size: cover;
}

.block_card {
    margin-top: 85px;
}

.demo {
    -webkit-box-shadow: -2px 2px 37px 12px rgba(28, 227, 255, 0.73);
    box-shadow: -2px 2px 37px 12px rgba(28, 227, 255, 0.73);
    cursor: pointer;
}

.demo:hover {
    scale: 1.1;

}

.title_welcome {
    font-size: 55px;
}

.btn_hover:hover {
    scale: 1.1;
}